@media (max-width: 549px) {
  .form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 550px) {
  .form {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 750px) {
  .form {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 901px) {
  .form {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
}

.description-form{
  margin-bottom: 15%;
  text-align: center;
}

.estimate {
  width: 50%;
  height: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
}

@media (min-width: 299px) {
  .category {
    margin-top: 2em;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: auto;
    text-align: center;
  }
}

@media (min-width: 300px) {
  .category {
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: auto;
    text-align: center;
  }
}
@media (min-width: 601px) {
  .category {
    margin-top: 2em;
    margin-bottom: auto;
    text-align: center;
  }
}

.description-cat{
  margin-bottom: 5%;
}

.btn {
  margin-top: 5%;
  text-align: center;
}

.btn-cat {
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 1279px) {
  .btn-cat {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .btn-cat {
    text-align: center;
  }
}

.btn_next {
  display: inline-block;
}

.input {
  width: 100%;
  margin-bottom: 2%;
}

mat-grid-tile {
}

.my-card {
  width: 150px;
  padding-bottom: 0;
}

.img {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

mat-step:hover {
  background-color: #fff;
}

mat-step[ng-reflect-selected="true"], mat-step[aria-selected="true"], mat-step.cdk-focused, mat-step.cdk-program-focused, mat-step.mat-focus-indicator {
  background-color: #fff !important;
}

