.form{
  border: solid;
  width: 25%;
  height: 50%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
.btn{
  margin-top: 10%;
  text-align: center;
}
.btn_next{
  display:inline-block;
}
.btn_back{
  display:inline-block;
  margin-right: 5%;
}
.stepper{
  border: solid;
}
.input{
  width: 100%;
}
