<mat-stepper class="stepper" linear #stepper>

  <mat-step [editable]="isEditable">
      <ng-template matStepLabel>Votre produit</ng-template>
    <div class="category">
      <mat-grid-list cols="5" rowHeight="1:1" gutterSize="15px">
        <mat-grid-tile *ngFor="let catList of catLists">
          <mat-card class="my-card">
            <div (click)="test(catList._id); ">
              <div class="img">
                <img mat-card-image src="http://localhost:3000/{{catList.picture}}" alt="Photo of a Shiba Inu">
              </div>
                <mat-card-content>
                  {{catList.name}}
                </mat-card-content>

            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="btn">
        <button class="btn_next" color="primary" mat-raised-button (click)="stepper.next();">Suivant</button>
      </div>
    </div>
  </mat-step>

  <mat-step [stepControl]="inputFormGroup" [editable]="isEditable">
    <form [formGroup]="inputFormGroup" (submit)="submitInt()">
      <ng-template matStepLabel>Dite nous en plus !</ng-template>

      <div class="form" formArrayName="input">

        <ng-container *ngFor="let inputForm of input.controls; let i = index">

            <ng-container [formGroupName]="i">
              <div *ngIf="inputLists[i].array; then thenBlock else elseBlock"></div>

              <ng-template #thenBlock>
                <mat-form-field class="input" appearance="fill">
                  <mat-label>{{inputLists[i].name}}</mat-label>
                  <mat-select formControlName="value">
                    <ng-container *ngFor="let input_array_List of input_array_Lists">
                      <mat-option *ngIf="inputLists[i]._id == input_array_List.val_func_id" [value]="input_array_List.value">
                        {{input_array_List.name}}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlock>
                <mat-form-field class="input" appearance="fill">
                  <mat-label>{{inputLists[i].name}}</mat-label>
                  <input matInput formControlName="value" required>
                </mat-form-field>
              </ng-template>
            </ng-container>
          </ng-container>
      </div>
      <div class="btn">
        <button type="submit" class="btn_next" color="primary" mat-raised-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="donneeFormGroup" [editable]="isEditable">
    <form [formGroup]="donneeFormGroup" (submit)="submitDon()">
      <ng-template matStepLabel>Qui etes vous ?</ng-template>
      <div class="form">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name" placeholder="Votre nom de famille"
                 required>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="surname" placeholder="Votre prénom"
                 required>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="mail" [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Entrer une adresse email valide !
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            L'email est <strong>requis</strong> !
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Numéro de téléphone</mat-label>
          <span matPrefix>+33 &nbsp;</span>
          <input type="tel" #phonenumber matInput formControlName="phone" maxlength="9" placeholder="683293503">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint align="end">{{phonenumber.value.length}} / 9</mat-hint>
        </mat-form-field>
        <div class="btn">
          <button class="btn_next" color="primary" mat-raised-button matStepperNext>Suivant</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Une estimation aux petits oignons</ng-template>
    <div class="estimate">
    <h1>Voici votre estimation !</h1>
      <p>{{proposePrice}} €</p>
    <div>
      <button class="btn_next" color="primary" mat-button>Revenir sur le site</button>
    </div>

    </div>
  </mat-step>

</mat-stepper>
