<div id="footer" class="pb-4" style="background: #171717">
  <div class="container">
    <div class="row text-light">
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="text-uppercase">Qui sommes-nous ?</div>
        <a href="https://www.prozic.com/www2/qui-sommes-nous.html">Qui sommes-nous ?</a><br>
        <a href="https://www.prozic.com/www2/magasin.html">Notre magasin</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="text-uppercase">Services et garanties</div>
        <a href="https://www.prozic.com/www2/conditions-de-vente.html">
          Conditions générales de vente
        </a><br>
        <a href="https://www.prozic.com/www2/donnees-personnelles.html">Données
          personnelles</a><br>
        <a style="cursor: pointer" onmouseover="this.style.textDecoration='underline'"
           onmouseout="this.style.textDecoration='none'" id="tarteaucitronManager">Paramétrer les cookies</a><br>
        <a href="https://www.prozic.com/www2/conditions-de-vente.html#5">Paiement
          sécurisé</a><br>
        <a href="https://www.prozic.com/www2/conditions-de-vente.html#7">Satisfait ou
          remboursé pendant 365 jours</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="text-uppercase">Livraison et paiement</div>
        <a href="https://www.prozic.com/www2/conditions-de-vente.html#5">Modalités de
          paiement</a><br>
        <a href="https://www.prozic.com/www2/conditions-de-vente.html#6">Livraison</a>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-3">
        <div class="text-uppercase">Besoin d'aide ?</div>
        <a href="https://www.prozic.com/www2/contact.html">Nous contacter</a><br>
        <a rel="nofollow" href="https://www.prozic.com/www2/inscription.html">Inscription</a><br>
        <a rel="nofollow" href="https://www.prozic.com/www2/mot-de-pass-perdu.html">Mot de
          passe perdu ?</a><br>
        <a href="https://www.prozic.com/www2/plan-du-site.html">Plan du site</a><br>
        <a rel="nofollow" href="https://www.prozic.com/www2/suivre-commande.html">Suivre ma
          commande</a>
      </div>
    </div>
  </div>
</div>
