<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="row">
    <div class="col-12 p-3">
      <h1 class="text-center">Estimation rapide et gratuite du prix de reprise de votre matériel d'occasion</h1>
      <p>Estimez immédiatement et gratuitement votre matériel de sonorisation, d'éclairage et d’équipement de scène
        sur
        notre site occasion.prozic.com, un site de prozic.com qui vous propose un service gratuit d’estimation de
        votre
        ancien matériel de sonorisation, d'éclairage et d'équipement de scène en seulement quelques clics.</p>

      <p>Spécialisé dans la vente d’équipement audio, scénique et d’éclairage de qualité professionnelle depuis
        presque
        vingt ans, Prozic met à votre disposition son expertise afin d’estimer la valeur de vos articles.</p>
      <b>→ Remplissez le formulaire ci-dessous en répondant aux questions pour obtenir une estimation
        de votre matériel en moins d’une minute !</b>
    </div>
  </div>
</div>

<div style="background: #fff">
  <div class="form_estimate">
    <app-estimate></app-estimate>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12 p-3">
      <div>
        <p>
          L’évaluation de la valeur des articles consiste en une estimation basée sur les informations fournies par
          l’utilisateur via le formulaire présent sur www.occasion.prozic.com.
          En aucun cas l’estimation engage la société Prozic à la reprise ni au maintien de la fourchette de prix
          résultant de
          l’estimation en ligne.
        </p>

        <p>
          La reprise du matériel d’occasion suit un processus de sélection et d’évaluation des fonctionnalités des
          articles
          garantissant une qualité sans défaut pour les futurs clients.
        </p>

        <p>Si vous souhaitez vendre votre matériel d’occasion suite à l’obtention de la fourchette de prix
          correspondante à
          l’évaluation obtenue via le formulaire sur occasion.prozic.com, il sera nécessaire de prendre contact avec
          notre
          service client en fournissant un descriptif de votre matériel, le montant de l’estimation ainsi que des photos
          de
          l’article en question.</p>

        <p>
          Si le produit répond à nos critères, nous vous le communiquerons par mail, à l’adresse que vous nous aurez
          fourni lors
          du remplissage du formulaire d’estimation.
        </p>
        Pour valider la reprise, vous pouvez :
        <ul>
          <li>déposer l’article en magasin au 113 Ancienne Route Impériale, 31120 Portet-sur-Garonne,</li>
          <li>envoyer le produit à vos frais et sous votre responsabilité jusqu’à réception dans nos locaux.</li>
        </ul>

        Le montant définitif correspondant à la valeur du matériel et sa reprise seront établis en fonction de la
        vérification
        de la qualité et de l’état de fonctionnement du matériel déposé en magasin.

        Le montant de la reprise du matériel sera octroyé sous la forme d’un paiement comptant ou d’un bon d’achat à
        utiliser
        uniquement en magasin.
        Il est à noter que la somme accordée pourrait être plus élevée dans le cas de l’émission du bon d’achat.
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
