<div id="header" class="container-fluid" style="background: #171717; padding: 10px 20px; position: fixed; top: 0; z-index: 100000">
  <div class="row no-gutters d-flex align-items-center mt-lg-2 mb-lg-2 pl-2 pl-lg-0">
    <div id="menu-button" class="col-1 d-lg-none menu-button">
      <i class="fas fa-bars fa-2x"></i>
    </div>

    <div class="col pr-1 pr-xl-2">
      <a href="https://www.prozic.com/www2/" id="logo" class="mt-0 mr-3 mr-xl-5 logo d-block"
         style="text-decoration: none">
        <img height="35px" class="d-none d-lg-inline-block" alt="Prozic"
             src="assets/logo.png">
      </a>
    </div>
  </div>
</div>
